// colors
$color-white: #FFFFFF;
$color-black: #000000;
$color-dark-grey: #333333;
$color-light-grey: #565656;
$color-red: #F05873;
$color-purple: #8358FF;
$color-green: #10CCB5;

$selection-color: #333333;
$selection-color2: #FFFFFF;


// fonts size
$font-para: 0.8125rem;
$font-title-small: 1rem;
$font-title: 2.5rem;
$font-title-big: 5rem;


// Media Queries
$desktop: "1280px";
$tablet: "768px";
