// colors
$color-white: #FFFFFF;
$color-black: #000000;
$color-dark-grey: #333333;
$color-light-grey: #565656;
$color-red: #F05873;
$color-purple: #8358FF;
$color-green: #10CCB5;

$selection-color: #333333;
$selection-color2: #FFFFFF;


// fonts size
// $font-para: 0.8125rem;
$font-para: 0.9rem;
$font-title-medium: 1.5rem;
$font-title-small: 1rem;
$font-title: 2.5rem;
$font-title-big: 5rem;
$font-title-extreme: 10rem;


// padding
$p-0_5: 0.5rem;
$p-1: 1rem;
$p-1_5: 1.5rem;
$p-2: 2rem;
$p-2_5: 2.5rem;
$p-3: 3rem;
$p-3_5: 3.5rem;
$p-4: 4rem;
$p-4_5: 4.5rem;
$p-5: 5rem;


// margin
$m-0_5: 0.5rem;
$m-1: 1rem;
$m-1_5: 1.5rem;
$m-2: 2rem;
$m-2_5: 2.5rem;
$m-3: 3rem;
$m-3_5: 3.5rem;
$m-4: 4rem;
$m-4_5: 4.5rem;
$m-5: 5rem;



// Media Queries
$desktop: "1280px";
$tablet: "768px";
