// colors
$color-white: #FFFFFF;
$color-black: #000000;
$color-dark-grey: #333333;
$color-light-grey: #565656;
$color-red: #F05873;
$color-purple: #8358FF;
$color-green: #10CCB5;

$selection-color: #333333;
$selection-color2: #FFFFFF;


// fonts size
// $font-para: 0.8125rem;
$font-para: 0.9;
$font-title-medium: 1.5;
$font-title-small: 1;
$font-title: 2.5;
$font-title-big: 5;
$font-title-extreme: 10;

// values
$v0_5: 0.5;
$v1: 1;
$v1_5: 1.5;
$v2: 2;
$v2_5: 2.5;
$v3: 3;
$v3_5: 3.5;
$v4: 4;
$v4_5: 4.5;
$v5: 5;


// Media Queries
$desktop: "1280px";
$tablet: "768px";

// root
$root: 16;

// other
$nav-height: 3.75;





// rem to px mixin
@mixin rem($property, $values){
  $px-values: ();
	$rem-values: ();

  @if type-of($values) != 'list' {
		$values: join((), $values);
	}

  @each $value in $values{
    @if type-of($value) == string or $value == 0 {
			$px-values: append($px-values, $value);
			$rem-values: append($rem-values, $value);
		}
    @else if type-of($value) == number{
      $px-values: append($px-values, ($value * $root+px));
      $rem-values: append($rem-values, $value+rem);
    }
    @else {
      $px-values: append($px-values, $value);
			$rem-values: append($rem-values, $value);
    }
  }

  #{$property}: $px-values;
  #{$property}: $rem-values;
}
