.contact-hero {
  @include background-cover("../../../assets/img/hero/shard.jpg");
  padding: 3.75rem + $p-4 $p-1_5 $p-5 $p-1_5;
  position: relative;
  text-align: left;

  h2 {
    @include font-title($color-white);
    position: relative;
    padding: $p-1 0 $p-2 0;
  }

  h3 {
    @include font-title($color-white);
    line-height: 40px;
    position: relative;
  }
}

.contact-social {
  @include flex-center(row);

  div {
    width: 5rem;
    padding: $p-1;
    cursor: pointer;

    img {
      width: 100%;
      cursor: pointer;
    }
  }
}

.adress {
  width: 100%;
  height: auto;

  div {
    background-color: $color-red;
    padding: $p-1 $p-0_5 $p-2 $p-0_5;
  }
  h2{
    @include font-title($color-white);
    text-align: center;
  }
  p{
    @include font-para($color-white);
    font-size: 16px;
    text-align: center;
  }
}

.add-padding {
  padding: $p-2 0;
}
.contact-form {
  background-color: blue;
  width: 100%;
  height: auto;

  h2 {
    font-family: "oswald", sans-serif;
    font-size: $font-title;
    color: $color-black;
    width: 100%;
    text-align: center;
  }

  form {
    width: 80%;
    margin: auto;
  }

  label {
    font-family: "oswald", sans-serif;
    font-size: $font-title-small;
    color: $color-black;
    display: block;
    width: 100%;
    text-align: center;
    padding: $p-0_5;

  }
  input {
    display: block;
    width: 90%;
    margin: 0 auto;
    max-width: 760px;

  }
  textarea {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    height: 8rem;
  }
}
