.contact-hero {
  @include background-cover("../../../assets/img/hero/shard.jpg");
  @include rem(padding, 3.75+$v4 $v1_5 $v5 $v1_5);
  position: relative;
  text-align: left;

  h2 {
    @include font-title($color-white);
    @include rem(padding, $v1 0 $v2 0);
    position: relative;
  }

  h3 {
    @include font-title($color-white);
    line-height: 40px;
    position: relative;
  }
}

.contact-social {
  @include flex-center(row);

  div {
    @include rem(width, $v5)
    @include rem(padding, $v1)
    cursor: pointer;

    img {
      width: 100%;
      cursor: pointer;
    }
  }
}

.contact-social-img {
  display: inline-block;
}

.adress {
  width: 100%;
  height: auto;

  div {
    @include rem(padding, $v1_5 $v0_5 $v2 $v0_5)
    background-color: $color-red;
  }
  h2{
    @include font-title($color-white);
    text-align: center;
  }
  p{
    @include font-para($color-white);
    font-size: 16px;
    text-align: center;
  }
}

.add-padding {
  @include rem(padding, $v2 0 $v4 0);
}

.contact-form {
  width: 100%;
  height: auto;

  h2 {
    @include font-title($color-black);
    @include rem(padding, $v2 0);
    width: 100%;
    text-align: center;
  }

  form {
    width: 80%;
    margin: auto;
  }

  label {
    @include font-title-small($color-black);
    @include rem(padding, $v1_5 0 $v0_5 0);
    display: block;
    width: 100%;
    text-align: center;

  }
  input {
    @include rem(padding, $v0_5);
    display: block;
    width: 90%;
    margin: 0 auto;
    max-width: 760px;
    border-radius: 5px;
    border: 1px solid $color-black;
  }
  textarea {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    height: 8rem;
    height: 128px;
    border-radius: 5px;
    border: 1px solid $color-black;
  }
}

input[type=button], input[type=submit], input[type=reset]{
    @include rem(margin, $v1 auto);
    @include rem(padding, $v0_5);
    background-color: $color-red;
    border: none;
    display: block;
    width: 100%;
    max-width: 300px;
    font-family: "oswald", sans-serif;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    &:hover{
      background-color: darken($color-red, 10%);
    }
}
