// Services
.section-h-services, .section-team{

  .item-text{
    padding: $p-2 $p-1;
    text-align: center;

    h3{
      @include font-title-medium();
      font-weight: 100;
      letter-spacing: 1px;
      line-height: 40px;
    }
    p{
      @include font-para();
      padding: $p-1 0 $p-1 0;
    }
    p.work{ padding: 0; }
  }
}








// Raitings
.section-raitings{
  background: $color-green;
  padding: 0 $p-1 $p-3 $p-1;
}

.slider-person{
  padding: $p-1 0;

  .slider-img{
    position: relative;
    width: 100%;

    img{
      position: relative;
      width: 100px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 50%;
    }
  }

  .slider-text{
    padding: 0 0 $p-3 0;

    h3{
      @include font-title-small($color-white);
      width: 100%;
      text-align: center;
    }
    p{
      @include font-para($color-white);
      width: 100%;
      text-align: center;
    }
  }
}

.slider-btns{
  @include flex-center(row);
  width: 100%;
  text-align: center;

  button{
    margin: 0 $m-0_5;
    width: 10px;
    height: 10px;
    background: transparent;
    border-radius: 50%;
    border: 1px solid $color-white;

    &.active{
      background: white;
    }
  }
}







// section-strengths
.section-strengths{
  background: $color-red;

  .str{
    margin: $m-2 0 $m-2 0;
    @include rem(margin, 2.74+$v2 0);
  }

  .str-item{
    margin: 0 0 $m-5 0;
    padding: 0 $p-2;
  }

  .str-item-text{ text-align: center; }
  .str-item-logo{
    position: relative;
    width: 100%;

    svg{
      position: relative;
      margin: $m-1 0 0 0;
      left: 50%;
      width: 33px;
      transform: translateX(-50%);
    }
  }
  .str-item-text{
    flex: 1 1;

    h4{
      @include font-title-medium($color-white);
      font-weight: 100;
      letter-spacing: 1px;
      margin-bottom: $p-1;
    }
    p{
      @include font-para($color-white);
    }
  }

}



// Cases
.section-h-cases{
  width: 100%;
  overflow: auto;

  img{
    float: left;
    width: 50%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: 0.2s all ease-in-out;
    cursor: pointer;

    &:hover{
      filter: grayscale(0%);
      -webkit-filter: grayscale(0%);
    }
  }
}











@media (min-width: $tablet) {
  .item{
    padding: $p-2;
  }
  .item-text{
    text-align: left !important;
  }

  .section-strengths .str-item-text{
    text-align: left;
  }


  .slider-person{
    width: 100%;

    .slider-img{
      flex: 0 0 200px !important;
    }
    .slider-text{
      flex: 1 1;

      h3, p{
        text-align: left;
      }
      h3{
        @include font-title($color-white);
        font-size: 24px;
        line-height: 40px;
      }
    }
  }

  .section-h-cases img{ width: 25%; }
}



@media (min-width: $desktop) {
  .item{
    padding: $p-2;
  }
  .item-text{
    text-align: center !important;
  }
}
