
@mixin flex-shit($direction:column, $justify:center){
	display:flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: center;
	
}
.web-hero {
  @include background-cover("../../../assets/img/hero/web/web.jpg");
  h2 {
    @include font-title-big($color-white);
    line-height: 80px;
    position: relative;
    padding: $p-1 0 $p-2 0;
  }
}

.marketing-hero {
  @include background-cover("../../../assets/img/hero/marketing/marketing.jpg");

  h2 {
    @include font-title-big($color-white);
    line-height: 80px;
    position: relative;

    padding: $p-1 0 $p-2_5 0;

  }
}

.branding-hero {
  @include background-cover("../../../assets/img/hero/branding/branding.jpg");

  h2 {
    @include font-title-big($color-white);
    line-height: 80px;
    position: relative;

    padding: $p-1 0 $p-2_5 0;

  }
}

.web-section-title-red {
	text-align: center;
	background:$color-red;
	width:100%;
	position:relative;
	padding:$p-1_5 0 $p-2-5 0;
	
	.web-skills-list{
		padding-top: $p-3;
	}
	h2 {
		@include font-title($color-white);
		line-height: 2.5rem;
		padding: 2rem 0 1rem 0;
	}
	p {
		@include font-para($color-white);
		padding: 0 0 $p-2 0;
	}
	li {
		list-style:none;
		line-height: 1.5rem;
		padding:$p-0_5;
		@include font-para($color-white);
	}
	
}

	
.web-section-title {
	text-align: center;
	background:$color-green;
	width:100%;
	position:relative;
	
	h2 {
		@include font-title($color-white);
		line-height: 2.5rem;
		padding: 2rem 0 1rem 0;
	}
	p {
		@include font-para($color-white);
		padding: 0 0 2rem 0;
	}
}

.web-section-item {
	display:flex;
	justify-content: center;
	.web-section-img {
		.web-stairs {
			width:100%;
			height:auto;
			padding:$p-2_5 $p-1_5 $p-0_5 $p-1_5 ;
		}
	}
	
	.web-section-text {
		height:auto;
		padding:$p-2 $p-0_5 $p-0_5 $p-0_5;
		background:$color-white;
		
		h2 {
			@include font-title();
		}
		p {
			@include font-para();
	
				
		}
		
		h3 {
			@include font-title-medium();
		}
		
		@media (min-width:$tablet){
		text-align: left;	
		}
		
	}
}

.web-reverse {
	@media (min-width:$tablet)
		{
			display:flex;
			flex-direction:row-reverse;
			justify-content: center;
			text-align: right;
			h2, p, h3 {
		text-align:right;
	}	
			
		}
}

