.row{
  width: 100%;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;

  &:after{
    clear: both;
  }
}



@mixin flex-center($directon: column) {
  flex-direction: $directon;
  justify-content: center;
}

@for $i from 1 through 12 {
	.col-s-#{$i} {
		width: percentage(1 / $i);
    max-width: percentage(1 / $i);
    flex-basis: percentage(1 / $i);
	}
}

%col-all {
  float: left;
}

@for $i from 1 through 12 {
  .col-s-#{$i} {
    @extend %col-all;
  }
  .col-m-#{$i} {
    @extend %col-all;
  }
  .col-l-#{$i} {
    @extend %col-all;
  }
}

@media (min-width: $tablet) {
  @for $i from 1 through 12 {
    .col-m-#{$i} {
      width: percentage(1 / $i);
      max-width: percentage(1 / $i);
      flex-basis: percentage(1 / $i);
    }
  }
}


@media (min-width: $desktop) {
  @for $i from 1 through 12 {
    .col-l-#{$i} {
  		width: percentage(1 / $i);
      max-width: percentage(1 / $i);
      flex-basis: percentage(1 / $i);
  	}
  }
}
