.section-contact {
  @include background-cover("../../../assets/img/hero/contact-2000.jpg");
  @include flex-center(row);
  position: relative;
  @include rem(padding, $v1_5 $v1_5 $v3_5 $v1_5);
  text-align: center;


  h3 {
    @include font-title($color-white);
    position: relative;
    @include rem(padding, $v2 0);
    line-height: 60px;
    letter-spacing: 1.5px;
  }

  .hero-bg{
    @include flex-center(row);
    position: relative;
  }
  .btn{
    margin: 0 auto;
  }
}

@media (min-width: $tablet) {
  .section-contact {
    @include rem(padding, $v4 0 $v5 0);
    h3 {
      @include font-title-big($color-white);
      @include rem(padding, $v4 0);
      line-height: 80px;

    }
  }


}
