.section-contact {
  @include background-cover("../../../assets/img/hero/contact.jpg");
  @include flex-center(row);
  position: relative;
  padding: $p-1_5 $p-1_5 $p-3_5 $p-1_5;
  text-align: center;


  h3 {
    @include font-title($color-white);
    position: relative;
    padding: $p-2 0;
    line-height: 60px;
    letter-spacing: 1.5px;
  }

  .hero-bg{
    @include flex-center(row);
    position: relative;
  }
  .btn{
    margin: 0 auto;
  }
}

@media (min-width: $tablet) {
  .section-contact {
    padding: $p-4 0 $p-5 0;
    h3 {
      @include font-title-big($color-white);
      line-height: 80px;
      padding: $p-4 0;

    }
  }


}
