


.footer{
  @include rem(padding, $v2 $v1);
  background: $color-dark-grey;

  ul{
    list-style: none;

    li{
      width: 100%;
      text-align: center;
      @include font-nav($color-white);

      a:link{
        color: $color-white;
        text-decoration: none;
      }
      a:visited, a:active{
        color: $color-white;
      }
      a:hover, a:focus{
        color: $color-green;
      }
    }
  }
}


.footer-social{
  @include flex-center(row);
  text-align: center;
  @include rem(padding, $v1 $v0_5);

  .footer-social-img{
    display: inline-block;
    width: 50px;
    @include rem(padding, $v0_5);
    cursor: pointer;

    img{ width: 100%; cursor: pointer; }
  }
}

.copyright{
  @include font-para( lighten($color-light-grey, 20%) );
  text-align: center;
}



@media (min-width: $tablet) {
  .footer ul{
    text-align: center;

    li{
      display: inline;
      width: auto;
      @include rem(padding, $v0_5);
    }
  }
}
