.hero {
  @include background-cover("../../../assets/img/hero/home-2000.jpg");
  @include rem(padding, $nav-height+$v4 $v1_5 $v5 $v1_5);
  position: relative;
  text-align: center;

  h2 {
    @include font-title-big($color-white);
    line-height: 80px;
    position: relative;

    @include rem(padding, $v1 0 $v2_5 0);

  }

  .hero-wrapper{
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
  }

  .hero-btn {
    @include flex-center(row);
    position: relative;
    a {
      margin: 0 auto;
      display: inline-block;
      @include rem(margin, $v1);
    }
  }
}

@media (min-width: $desktop) {
  .hero {
    h2 {
      @include font-title-extreme($color-white);
    }
  }

}
