*:after {
  content: "";
  display: table;
  clear: both;
}

.nav-ham {
    display: none;
}

.nav-menu {
  position: static;
  top: 0;
  width: auto;
  height: auto;
  float: right;
  padding: 15px 15px 0 0;
  ul{
    transform: translateY(0);
    width: auto;
    top: 0;
    li{
      width: auto;
      display: inline-block;
      padding: 0 7px;
    }
  }
}

.hero-bg {
  width: 100%;
  background-color: #000000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  }

.row {
  width: 100%;
  overflow: auto;
}

.col-l-3 {
  width: 33.33333333%;
  float: left;
  padding: 16px;
}

.section-strengths .col-m-2 {
  width: 50%;
  float: left;
}
.section-raitings {
   width: 100%;
   float: left;
   .slider-person {
     position: relative;
     width: 100%;
   }
   img {
     margin-left: -50px;
   }
}

.section-contact {
  width: 100%;
  zoom:1;
  overflow: auto;
  float: left;
}

.section-h-cases img {
  width: 25%;
}

.footer {
  float: left;
  ul {
    text-align: center;
    li {
      display: inline-block;
      width: auto;
      padding: 7px;
    }
  }
}








// web
.web-hero h2,
.marketing-hero h2,
.branding-hero h2{
  font-size: 80px;
}
.web-information{
  width: 100%;
}
  .web-section-item .col-m-2{
    width: 50%;
  }
  .web-section-item .col-m-3{
    width: 50%;
  }

  .web-section-text{
    text-align: left;

    h3{
      padding: 80px 0 0 0;
    }
  }

  .web-skills-list ul{
    width: 50%;
  }






// Contact

.contact-form .col-m-2{
  width: 50%;
}
